@import "~bootstrap/scss/bootstrap.scss";

.rounded-circle{
    height: 125px;
}
.trafficTop{
    height: 125px;
    width: 20px;
    margin-left: 60px;
}
.lightActive{
    background-color:  white;
}